/* Responsive */

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 5 version
*/

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 20px 50px;
    z-index: 1000;
  }

  .textBx::after {
    -webkit-transform: translate(190%, -65%);
    -ms-transform: translate(190%, -65%);
    transform: translate(190%, -65%);
    width: 140px;
    height: 140px;
  }

  .nav {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 70px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: var(--main-bg-col-dark);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .nav.active {
    left: 0;
  }

  header ul li a {
    /* color: var(--main-txt-col-light); */
    font-size: 24px;
    margin: 10px;
  }

  .toggle {
    width: 40px;
    height: 40px;
    background: url("../images/Logo&Favicons/menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }

  .toggle.active {
    width: 40px;
    height: 40px;
    background: url("../images/Logo&Favicons/close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }

  /* header.sticky .toggle {
    filter: invert(1);
  } */

  section {
    padding: 100px 50px;
  }

  .banner {
    padding: 150px 50px 100px;
  }

  .banner h2 {
    font-size: 1.5em;
  }

  .banner h3 {
    font-size: 1em;
  }

  .btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
  }

  .heading h2 {
    font-size: 24px;
  }

  .contentBx h3 {
    font-size: 20px;
  }

  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .w50 {
    margin-bottom: 20px;
  }

  .services .content .servicesBx {
    margin: 10px;
  }

  .work .content .workBx {
    width: 100%;
    padding: 10px;
  }

  .testimonials .content .testimonialBx {
    max-width: calc(100% - 20px);
    padding: 40px 20px;
    margin: 10px;
  }

  .testimonials .content .testimonialBx h3 {
    margin-top: 20px;
  }

  .contactInfo {
    margin: 20px 0;
  }

  .container .card .card__title {
    position: relative;
    bottom: 0px;
    font-size: 1.8em;
  }

  .container .card {
    height: 360px;
  }

  .container .card .imgBx {
    top: -70px;
    overflow: hidden;
  }

  ul .content {
    opacity: 1;
    margin-top: -80px;
  }

  .container .card .card__btn {
    opacity: 1;
  }

  .aboutBx {
    margin-right: 5px;
    margin-bottom: 20px;
  }

  .aboutLink__bx::after {
    width: 20%;
  }

  .aboutLink__bx:hover::after {
    width: 30%;
  }

  .gallery_imgBx.show .gallery__image {
    margin-top: 80px;
  }

  .lightbox__button--close {
    top: 15%;
  }

  .lastImg {
    display: none;
  }
}

@media (max-width: 600px) {
  header,
  header.sticky {
    padding: 20px 20px;
  }

  .banner {
    padding: 150px 20px 100px;
  }

  section {
    padding: 50px 10px;
  }

  .textBx::after {
    -webkit-transform: translate(-15%, -180%);
    -ms-transform: translate(-15%, -180%);
    transform: translate(-15%, -180%);
  }

  .socialMediaIcons h2,
  .testimonials__title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
  }

  .testimonials .content .testimonialBx {
    max-width: 100%;
    padding: 30px 20px;
    margin: 10px;
  }

  .cart__container {
    margin-top: 40px;
  }

  .aboutLink__bx::after {
    width: 25%;
  }

  .aboutLink__bx:hover::after {
    width: 40%;
  }

  .gallery__container {
    max-width: 95%;
  }

  .copyright {
    letter-spacing: 2px;
  }
}

@media (max-width: 580px) {
  .cart__title {
    margin-bottom: 20px;
  }

  .cart__product {
    border: solid 1px #999;
    border-radius: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (12.5%) [8];
    grid-template-columns: repeat(8, 12.5%);
    -ms-grid-rows: (50%) [2];
    grid-template-rows: repeat(2, 50%);
    padding: 0;
    margin-bottom: 10px;
  }

  .cart__product > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .cart__product > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .cart__product > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .cart__product > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }

  .cart__product > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }

  .cart__product > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
  }

  .cart__product > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }

  .cart__product > *:nth-child(8) {
    -ms-grid-row: 1;
    -ms-grid-column: 8;
  }

  .cart__product > *:nth-child(9) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .cart__product > *:nth-child(10) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .cart__product > *:nth-child(11) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  .cart__product > *:nth-child(12) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
  }

  .cart__product > *:nth-child(13) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
  }

  .cart__product > *:nth-child(14) {
    -ms-grid-row: 2;
    -ms-grid-column: 6;
  }

  .cart__product > *:nth-child(15) {
    -ms-grid-row: 2;
    -ms-grid-column: 7;
  }

  .cart__product > *:nth-child(16) {
    -ms-grid-row: 2;
    -ms-grid-column: 8;
  }

  .product-thumb,
  .product-title,
  .product-plusminus,
  .product-amount,
  .product-del {
    padding: 3px;
  }

  .product-thumb {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
  }

  .product-title {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 5;
    grid-column-end: 8;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 0;
    grid-row-end: 1;
  }

  .product-plusminus {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 3;
    grid-column-end: 6;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  .product-amount {
    -ms-grid-column: 6;
    grid-column-start: 6;
    -ms-grid-column-span: 2;
    grid-column-end: 8;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  .product-del {
    -ms-grid-column: 8;
    grid-column-start: 8;
    -ms-grid-column-span: 1;
    grid-column-end: 9;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
  }
}

@media (max-width: 424px) {
  .textBx::after {
    -webkit-transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);
  }

  .carticon__showed {
    right: 2%;
  }

  .carticon__imgWrap {
    width: 60px;
    height: 60px;
    padding: 10px 12px;
    opacity: 0.8;
  }

  .carticon__img {
    width: 35px;
  }

  .carticon__counter {
    width: 25px;
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    right: -4px;
    bottom: -4px;
    opacity: 0.75;
  }

  .icon-close,
  .icon-minus,
  .icon-plus {
    width: 25px;
  }

  .aboutLink__bx::after {
    width: 35%;
  }

  .aboutLink__bx:hover::after {
    width: 55%;
  }

  .social-media a {
    height: 125px;
    width: 125px;
  }

  .social-media a i {
    font-size: 60px;
  }

  .gallery__container {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  .gallery__container {
    max-width: 95%;
    grid-gap: 0px;
  }
}

@media screen and (max-width: 375px) {
  .cardBx {
    width: 300px;
  }

  .container .card .imgBx {
    width: 260px;
  }

  .container .card .imgBx .card__image {
    width: 260px;
  }

  ul .content {
    margin-top: -80px;
  }

  .product-title a {
    font-size: 15px;
  }

  .prodWeight {
    font-size: 12px;
  }

  /* .cartwin-prodamount-label {
    font-weight: 500;
    font-size: 15;
  } */

  .prodTotalCost {
    font-weight: 600;
    font-size: 16px;
  }

  .about .aboutLink {
    font-size: 20px;
    letter-spacing: 1px;
  }
}
